@import '~/assets/scss/global';

.splash-screen {
  .splash-screen--item {
    visibility: visible;
    background-image: url('/images/splash-screen.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: calc(100vh);

    .spinner-container {
      position: absolute;
      top: 57%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .welcome-screen--item {
    position: relative;
    visibility: visible;
    background-image: url('/images/welcome-screen.png');
    background-position: inherit; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: calc(100vh);
    background-color: map-get($colors, vermillion);
    @extend .px-20;

    .btn-started {
      position: absolute;
      width: 70%;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: map-get($colors, white);
      color: map-get($colors, vermillion);
      @extend .p-10;
      @extend .border-radius-20;
      outline: none;
      
      &:focus {
        outline: none;
      }
    }
  }
}